*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*html{
    height: 100%;
}*/

body{
/*    display: flex;
    flex-direction: column;
    height: 100%;*/
    
}

.parallax{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/lights-blue.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.parallax-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 75%;
}

.parallax h2{
    font-size: 8em;
    color: white; /*rgb(121, 183, 235)*/
    text-align: center;
}

.parallax p{
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 10px;

}

.abajo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.abajo img{
    width: 2%;
    
}

.desliza{
    position: absolute;
    left: 0;
    bottom: 1em;
    right: 0;
}

.desliza p{
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 10px;
}


/* estilos de las card */

.mejoresOfertas{
    width: 88%;
    margin: 0 auto;
    padding-top: 7em;
    padding-bottom: 11em;
    height: 60vh;
    
    
}

.titulo-ofertas{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;/*rgb(114, 112, 112);*/
    padding-bottom: 2em;
}

.ofertas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    width: 100%;
    float: left;

}

.card{
    box-shadow: 0 0 6px rgb(0, 0, 0, .3);
    text-align: center;
    padding-bottom: 40px;
}

.card img{
    width: 100%;
}

.nombrePaquete{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
  /*  rgb(114, 112, 112)*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.descripcion{
    font-size: 1em;
    padding: 10px 40px 30px 40px;
    color: black;
}

.botonver{
    text-decoration: none;
    background-color: yellow;
    padding: 10px 30px;
    color: black;
    border-radius: 10px;
    transition: 0.3s all ease;

}

.botonver:hover{
    background: white;
    color: black;
}

span{
    font-weight: bold;
    font-size: 20px;
}

.precio{
    color: black;
}

.pie{
    background-color: yellow;
    color: black;
    clear: both;
    text-align: center;
    padding: 1em 0;
    width: 100%;

}


/*ABOUT STYLES*/

.about{
    margin: 30px 80px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    text-align: justify;
}

.about p{
    font-size: 30px;

}

.about h2{
    font-size: 50px;
}



/* Navegacion style */

header{
    width: 100%;
    overflow: hidden;
    background: yellow;
    margin-bottom: 0.4px;
}

.wrapper{
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left; 
    line-height: 200px;
}

header nav{
    float: right;
    line-height: 200px;
}


header nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: white;
    color: black;
    border-radius: 50px;
}

.header2{
    position: sticky;
    height: 100px;
}

.header2 .logo{
    object-fit: cover;
    font-size: 30px;
}

.header2 nav{
    line-height: 100px;
}


/*descargas*/

.descargas{
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    
}

.descargas img{
    float: left;
    padding: 20px;
    margin: 10px;
}

.descargas a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background: yellow;
}


.descargas a:hover{
    background: white;
    color: black;
    border-radius: 50px;
}

/* contactanos*/

.contactanos{
    padding: 20px;
    margin: 20px;
}

.contactanos h2{
    font-size: 40px;

}

.contactanos p{
    font-size: 25px;
}
